# Data Science Tools and Ecosystem

In this notebook, Data Science Tools and Ecosystem are summarized.

**Objectives:**
- List popular languages for Data Science
- List popular libraries used by Data Scientists
- Some Data Scientists Tools

Some of the popular languages that Data Scientists use are:
1. R 
2. Python 
3. Julia

Some of the commonly used libraries used by Data Scientists include:
* NumPy
* Pandas
* Scikit-Learn
* Matplotlib

#### Data Science Tools

| Data Science Tools |
| --- | 
| RStudio |
| Apache Spark |
| Jupyter Notebook |
| TensorFlow |

### Below are a few examples of evaluating arithmetic expressions in Python

This a simple arithmetic expression to mutiply then add integers

In [2]:
(3*4)+5

17

This will convert 200 minutes to hours by diving by 60

In [6]:
round(200/60,1)

3.3

## Author :
Hlushchuk Olha